# NOTE: Metrics representing a superset of other metrics must be declared first
# if they appear in the same group (displayRows). Otherwise different metrics will
# dominate in the group row depending on zoom level if overlay display mode is used.
version: 5
metricSets:
- alias: gb20x-l2
  name: General Metrics for NVIDIA GB20x + L2 (custom)
  chips: [GB202, GB203, GB205]
  displayRows:
  - name: $root:Activity
    type: overlay
    displayHeightScale: 0.5
    metrics:
    - GR Active
  - name: $root:Memory
    type: overlay
    displayHeightScale: -0.5
    metrics:
    - PCIe RX Throughput
    - PCIe TX Throughput
  - name: GPC Clock Frequency
    type: overlay
    metrics:
    - GPC Clock Frequency
  - name: SYS Clock Frequency
    type: overlay
    metrics:
    - SYS Clock Frequency
  - name: GPU Active
    description: The graphics or copy engine is active
    type: overlay
    metrics:
    - Sync Copy Engine Active
    - Async Copy Engine Active 0
    - GR Active
  - name: SMs Active
    type: overlay
    metrics:
    - SMs Active
  - name: SM Instructions
    type: overlay
    metrics:
    - SM Issue
    - Tensor Active
  - name: SM Warp Occupancy
    type: stacked
    displayHeightScale: 3.0
    metrics:
    - Vertex/Tess/Geometry Warps in Flight
    - Pixel Warps in Flight
    - Compute Warps in Flight
  - name: DRAM Bandwidth
    type: stacked
    metrics:
    - DRAM Read Bandwidth
    - DRAM Write Bandwidth
  - name: L2 Bandwidth
    type: overlay
    metrics:
    - L2 Bandwidth
  - name: PCIe Bandwidth
    type: overlay
    metrics:
    - PCIe RX Throughput
    - PCIe TX Throughput
  metrics:
  - name: GPC Clock Frequency
    id: gpc__cycles_elapsed
    description: The frequency of the GPC graphics clock. In NVIDIA GPU Specs this
      is the Boost Clock and Base Clock. In nvidia-smi this is the "gr", "graphics",
      "Graphics Clock".
    color: '#8BDDB4'
    subMetrics:
    - name: MHz
      label: $freq
      suffix: .avg.per_second
      multiplier: 1.0e-06
  - name: SYS Clock Frequency
    id: sys__cycles_elapsed
    description: The frequency of the SYS clock. The SYS clock is the clock used for
      the copy engines, compute and graphics command processor, and the hardware performance
      monitor streaming unit.
    color: '#118E44'
    schedulingRule: migOptional
    subMetrics:
    - name: MHz
      label: $freq
      suffix: .avg.per_second
      multiplier: 1.0e-06
  - name: Sync Copy Engine Active
    id: gpu__engine_cycles_active_any_syncce
    color: '#B2B233'
    subMetrics:
    - name: Throughput %
      label: $pct
      suffix: .avg.pct_of_peak_sustained_elapsed
    - name: Cycles Active
      suffix: .sum
  - name: Async Copy Engine Active 0
    id: gpu__scheduler_engine_asyncce0_cycles_active
    color: '#FFA700'
    subMetrics:
    - name: Throughput %
      label: $pct
      suffix: .avg.pct_of_peak_sustained_elapsed
    - name: Cycles Active
      suffix: .sum
  - name: GR Active
    id: gr__cycles_active
    description: Number of cycles the graphics/compute engine is active. The graphics
      and compute engine are active if there is any work in the graphics pipe or if
      the compute pipe is processing a dispatch.
    color: '#ED6A32'
    subMetrics:
    - name: Throughput %
      label: $pct
      suffix: .sum.pct_of_peak_sustained_elapsed
  - name: SMs Active
    id: sm__cycles_active
    description: The ratio of cycles SMs had at least 1 warp in flight to the number
      of cycles
    color: '#FFA5A5'
    subMetrics:
    - name: Throughput %
      label: $pct
      suffix: .avg.pct_of_peak_sustained_elapsed
  - name: SM Issue
    id: sm__inst_executed_realtime
    description: SM instruction issue rate. Each SM can issue 4 instructions/cycle
      (1 instruction/SMSP/cycle).
    color: '#98C4DD'
    subMetrics:
    - name: Throughput %
      label: $pct
      suffix: .avg.pct_of_peak_sustained_elapsed
  - name: Tensor Active
    id: sm__pipe_tensor_cycles_active_realtime
    description: Cycles the tensor pipe is active
    color: '#B3FF70'
    subMetrics:
    - name: Throughput %
      label: $pct
      suffix: .avg.pct_of_peak_sustained_elapsed
  - name: Vertex/Tess/Geometry Warps in Flight
    id: tpc__warps_active_shader_vtg_realtime
    description: Total number of graphics vertex, tesselation, geometry, and mesh
      shader warps in flight
    color: '#FFA5A5'
    subMetrics:
    - name: Throughput %
      label: $pct
      suffix: .avg.pct_of_peak_sustained_elapsed
    - name: Avg
      suffix: .avg
      multiplier: 0.5
    - name: Avg Warps per Cycle
      suffix: .avg.per_cycle_elapsed
      multiplier: 0.5
  - name: Pixel Warps in Flight
    id: tpc__warps_active_shader_ps_realtime
    description: Total number of pixel shader warps in flight
    color: '#8BDDB4'
    subMetrics:
    - name: Throughput %
      label: $pct
      suffix: .avg.pct_of_peak_sustained_elapsed
    - name: Avg
      suffix: .avg
      multiplier: 0.5
    - name: Avg Warps per Cycle
      suffix: .avg.per_cycle_elapsed
      multiplier: 0.5
  - name: Compute Warps in Flight
    id: tpc__warps_active_shader_cs_realtime
    description: Total number of compute shader warps in flight
    color: '#FFD179'
    subMetrics:
    - name: Throughput %
      label: $pct
      suffix: .avg.pct_of_peak_sustained_elapsed
    - name: Avg
      suffix: .avg
      multiplier: 0.5
    - name: Avg Warps per Cycle
      suffix: .avg.per_cycle_elapsed
      multiplier: 0.5
  - name: DRAM Read Bandwidth
    id: dram__read_throughput
    description: The ratio of cycles the DRAM interface was active reading data to
      the elapsed cycles in the same period as a percentage
    color: '#FFA5A5'
    subMetrics:
    - name: Throughput %
      label: $pct
      suffix: .avg.pct_of_peak_sustained_elapsed
  - name: DRAM Write Bandwidth
    id: dram__write_throughput
    description: The ratio of cycles the DRAM interface was active writing data to
      the elapsed cycles in the same period as a percentage
    color: '#98C4DD'
    subMetrics:
    - name: Throughput %
      label: $pct
      suffix: .avg.pct_of_peak_sustained_elapsed
  - name: PCIe RX Throughput
    id: pcie__read_bytes
    description: Number of bytes received by GPU (includes protocol)
    color: '#FF3D00'
    schedulingRule: migOptional
    subMetrics:
    - name: Throughput %
      label: $pct
      suffix: .avg.pct_of_peak_sustained_elapsed
  - name: PCIe TX Throughput
    id: pcie__write_bytes
    description: Number of bytes transmitted by GPU (includes protocol)
    color: '#00CFCF'
    schedulingRule: migOptional
    subMetrics:
    - name: Throughput %
      label: $pct
      suffix: .avg.pct_of_peak_sustained_elapsed
  - name: L2 Bandwidth
    id: lts__t_sector_throughput
    description: L2 (LTS) sector throughput
    color: '#44DD88'
    subMetrics:
    - name: Throughput %
      label: $pct
      suffix: .avg.pct_of_peak_sustained_elapsed
